body {
  height: 100vh;
  background: #191919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.speaker {
  margin-top: -15px;
  margin-left: -100px;
  border-right: 100px solid #5dbcf9;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 0px solid transparent;
  position: relative;
}

.speaker:before, .vib:before, .vib:after {
  content: "";
  position: absolute;
}

.vib, .vib:before, .vib:after {
  border: 10px solid #5dbcf9;
  border-left: 0;
}

.speaker:before {
  top: -25px;
  left: -25px;
  width: 60px;
  height: 50px;
  background: #5dbcf9;
  border-radius: 10px 0 0 10px;
}

.vib {
  position: absolute;
  top: -50px;
  left: 125px;
  height: 80px;
  width: 40px;
  border-radius: 0 50px 50px 0;
}

.vib:before {
  top: -35px;
  left: 0px;
  height: 130px;
  width: 65px;
  border-radius: 0 150px 150px 0;
}

.vib:after {
  top: -60px;
  left: 0px;
  height: 180px;
  width: 90px;
  border-radius: 0 160px 160px 0;
}

/* 99.9% */